#control-pane{
	position: absolute;
	z-index: 999999999;
	background-color: white;
	bottom: 10%;
	right: 5%;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

.maxWidth{
	width: 100%;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }